.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.main-form .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 25px;
}

.form-label {
    font-size: 30px;
    color: #FFF;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    border: 1px solid #000;
    height: 50px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Fira Code', serif;
}

.form-input.-message {
    resize: none;
    height: 320px;
}

.form-input::placeholder {
    color: #C4C4C4;
    font-size: 20px;
}

.main-button {
    display: inline-block;
    text-align: center;
    color: #000;
    background-color: #fff;
    width: 170px;
    height: 60px;
    line-height: 60px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(.25, .1, .11, 2.43), background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.main-button.-form {
    width: 100%;
    border: none;
    font-size: 30px;
    font-family: 'Fira Code', serif;
    margin-top: 20px;
}

.main-button:hover {
    transform: scale(1.05);
    background-color: #fc745c;
    box-shadow: 1px 1px 0px #000;
}

.main-button.-form:hover {
    transform: scale(1.01);
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100px;
    justify-content: space-between; /* alinhar os elementos horizontalmente */
    padding: 20px;
}

.main-footer .icon {
    margin: 0 10px;
    
    cursor: pointer;
    transition: transform 250ms cubic-bezier(.25, .1, .11, 2.43);
    vertical-align: middle;
}

.main-footer .icon:hover {
    transform: scale(1.08);
}

.main-section {
    box-sizing: border-box;
    border-bottom: 10px solid #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title {
    text-shadow: none;
    margin-bottom: 60px;
}

.main-section.-first {
    background-color: #fc745c;
}

.main-section.-second {
    background-color: #fa9f43;
}

.main-section.-third {
    background-color: #000;
}

.main-section.-noborder {
    border: none;
}

.main-title {
    font-family: 'Press Start 2P', monospace;
    color: #FFF;
    font-size: 40px;
    text-shadow: 4px 4px 0px #000000;
}

.legend {
    padding-left: 5px;
    margin-left: 20px;
    display: inline-block;
    line-height: 30px; /* ajuste de acordo com a altura do ícone */
}

.contact {
    display: flex;
    align-items: center;

}

.email {
    display: flex;
    align-items: center;
}

.linkedin {
    display: flex;
    align-items: center;
}
/* responsivo */

@media (max-width: 767px) {

    /* telas menores que 768px */
    .main-form {
        margin: 0 20px;
        /* reduzir margens laterais */
    }

    .main-form .wrapper {
        margin-bottom: 15px;
        /* reduzir margem inferior */
    }

    .form-label {
        font-size: 24px;
        /* reduzir o tamanho da fonte do rótulo */
    }

    .form-input {
        height: 40px;
        /* reduzir a altura da entrada */
        padding: 5px 15px;
        /* reduzir o preenchimento da entrada */
        font-size: 16px;
        /* reduzir o tamanho da fonte da entrada */
    }

    .form-input.-message {
        height: 240px;
        /* reduzir a altura do campo de mensagem */
    }

    .form-input::placeholder {
        font-size: 16px;
        /* reduzir o tamanho da fonte do placeholder */
    }

    .main-button {
        width: 100%;
        /* definir a largura do botão para 100% */
        height: 50px;
        /* reduzir a altura do botão */
        line-height: 50px;
        /* ajustar a linha de altura do botão */
        font-size: 16px;
        /* reduzir o tamanho da fonte do botão */
        box-shadow: none;
        /* remover a sombra do botão */
        margin-bottom: 20px;
        /* adicionar uma margem inferior para separar os botões */
    }

    .main-button.-form {
        font-size: 20px;
        /* reduzir o tamanho da fonte do botão */
        margin-bottom: 20px;
        /* adicionar uma margem inferior para separar os botões */
    }

    .main-footer {
        flex-wrap: wrap;
        /* permitir que os ícones sejam quebrados em várias linhas */
        height: auto;
        /* permitir que a altura do rodapé se ajuste ao conteúdo */
        padding: 20px 0;
        /* adicionar um preenchimento superior e inferior para separar os ícones */
    }

    .main-section {
        padding-top: 20px;
        /* reduzir o preenchimento superior para telas menores */
        padding-bottom: 60px;
        /* reduzir o preenchimento inferior para telas menores */
    }

    .main-section .main-title {
        margin-bottom: 30px;
        /* reduzir a margem inferior para telas menores */
    }

    .main-section {
        padding-top: 20px;
        /* reduzir o preenchimento superior para telas menores */
        padding-bottom: 60px;
        /* reduzir o preenchimento inferior para telas menores */
    }
}

@media only screen and (max-width: 600px) {
    .main-form {
        margin: 0 20px;
    }

    .form-input {
        font-size: 16px;
        height: 40px;
    }

    .main-button {
        font-size: 16px;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    .main-section {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .main-title {
        font-size: 30px;
    }
}