.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

/* Start Landing Page */

.landing-page {
  position: relative;
  background-color: #FFF;
}

.landing-page .header-area {
  display: flex;
  padding: 10px 0 0;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-area .logo {
  height: 50px;
  width: 50px;
}

.landing-page .header-area .logo {
  height: 100%;
  width: 100%;
}

.landing-page .header-area .logo img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.landing-page .header-area .links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
  align-items: center;
  
}

.landing-page .header-area .links li {
  display: inline-block;
  margin-left: 20px;
  color: #5d5d5d;
  cursor: pointer;
  vertical-align: middle;
}

.links:hover {
  transform: scale(1.05);
  background-color: #fff;
  box-shadow: 1px 1px 0px #fff;
}


.landing-page .header-area .links li:last-child {
  border: 0;
  border-radius: 20px;
  padding: 10px 18px;
  color: #FFF;
  background-color: #fc745c;
}

.landing-page .info {
  width: 35%;
  float: left;
  margin-top: 130px;
}

.landing-page .info2 {
  width: 35%;
  float: right;
  margin-top: 130px;
  padding-bottom: 150px;
}

.landing-page .info h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landing-page .info2 h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landing-page .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .info2 p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #fc745c;
}

button:hover {
  transform: scale(1.05);
  background-color: #fc745c;
  box-shadow: 1px 1px 0px #fff;
}



.landing-page .image {
  width: 50%;
  float: right;
  margin-top: 35px;
}

.landing-page .empresa {
  width: 50%;
  float: left;
  margin-top: 180px;
}

.landing-page .image img {
  max-width: 100%;
}

.landing-page .empresa img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

/* End Landing Page */

/* Responsividade */

@media (max-width: 768px) {
  .landing-page .header-area {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .landing-page .header-area .logo {
    margin-bottom: 10px;
  }

  .landing-page .header-area .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .landing-page .header-area .links li {
    margin: 0 10px;
  }

  .landing-page .header-area .links li:last-child {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
  }

  .landing-page .header-area {
    padding: 5px 0;
  }

  .landing-page .header-area .logo {
    height: 40px;
    width: 40px;
    margin-top: 0px;
  }

  .landing-page .header-area .logo,
  .landing-page .header-area .links {
    width: auto;
  }

  .landing-page .header-area .links li {
    margin-left: 10px;
  }

  .landing-page .info,
  .landing-page .info2 {
    width: 100%;
    float: none;
    margin-top: 50px;
    text-align: center;
  }

  .landing-page .info button {
    margin-top: 20px;
  }

  .landing-page .image,
  .landing-page .empresa {
    width: 100%;
    float: none;
    margin-top: 50px;
  }

  .landing-page .empresa {
    margin-top: 30px;
  }

  .landing-page .info h1,
  .landing-page .info2 h1 {
    font-size: 30px;
  }

  .landing-page .info p,
  .landing-page .info2 p {
    font-size: 14px;
  }
}